@model IEnumerable<Client.Main.Models.Complaint>
@{
    ViewBag.Title = "Index";
}

<h2>Complaints</h2>


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Haiku</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Date</td>
                <td>
                    <a href="../haikus/details/@c.HaikuId"> <span> Go to Haiku </span> </a>
                </td>
                
            </tr>
        }

        <ul class="pager">
            @if (ViewBag.Skip > 0)
            {
                var skip = ViewBag.Skip - ViewBag.Take;
                var take = ViewBag.Take;
                @*<a href="../haikus/all?skip=@skip&take=@take">Previous Page</a>*@
                <li>@Html.ActionLink(" Previous Page ", "All", "Haikus", new { skip = ViewBag.Skip - ViewBag.Take, take = ViewBag.Take }, null)</li>
            }
            @if (Model.ToList().Count >= ViewBag.Take)
            {
                var skip = ViewBag.Skip + ViewBag.Take;
                var take = ViewBag.Take;
                @*<a href="../haikus/all?skip=@skip&take=@take">Next Page</a>*@
                <li>@Html.ActionLink(" Next Page ", "All", "Haikus", new { skip = ViewBag.Skip + ViewBag.Take, take = ViewBag.Take }, null)</li>
            }
        </ul>

</tbody>
</table>
