<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="TestUserId" value="1"/>
  </appSettings>-->
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLSERVER;Database=Haikus;Integrated Security=True;"/>
  </connectionStrings>
</configuration>